.render-button {
    -fx-font-size: 16pt;
}

.button {
    -fx-padding: 10px;
    -fx-border-color: gray;
    -fx-pref-width: 150;
    -fx-background-color: white;
}

.button:hover {
    -fx-background-color: #f0f0f0;
}

.color-wheel {
    -fx-translate-x: 800;
}

.current-color {
    -fx-translate-y: 90;
    -fx-translate-x: 890;
}

.color-status {
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-text-fill: red;
    -fx-translate-x: 450;
}

.get-result-button {
    -fx-translate-y: 60;
    -fx-font-size: 16pt;
}

.cn-text {
    -fx-translate-y: 120;
    -fx-font-size: 16;
}

.unique-color-text {
    -fx-translate-y: 140;
    -fx-font-size: 16;
}

.timecon {
    -fx-pref-width: 200px;
    -fx-pref-height: 100px;
    -fx-border-width: 5px;
    -fx-border-color: black;
    -fx-translate-y: 600px;
}

.timecon > Text {
    -fx-font-size: 75px;
    -fx-text-alignment: center;
}

.hint-button {
    -fx-translate-y: 650;
    -fx-translate-x: 850;
    -fx-font-size: 16pt;
}
.hint-text {
    -fx-translate-y: 630;
    -fx-translate-x: 850;
    -fx-font-size: 16;
}