
.button {
    -fx-padding: 10px;
    -fx-border-color: gray;
    -fx-background-color: white;
}

.button:hover {
    -fx-background-color: #f0f0f0;
}


.play-button {
    -fx-font-size: 30pt;
    -fx-margin: 10px;
    -fx-pref-width: 600px;
    -fx-translate-y: 50px;
}

.leaderBoard-button {
    -fx-font-size: 30pt;
    -fx-margin: 10px;
    -fx-pref-width: 600px;
    -fx-translate-y: 200px;
}

.back-button {
    -fx-font-size: 20px;
    -fx-translate-y: 300px;
    -fx-translate-x: -400px;
}

.txt {
    -fx-font-size: 40px;
    -fx-margin: 10px;
    -fx-translate-y: -200px;
    -fx-alignment: center;

}